# PostgreSQL 연결 문자열
# 로컬: postgresql://username:password@localhost:5432/chatbot
# Railway.app: postgresql://user:password@host:port/chatbot
DATABASE_URL=postgresql://postgres:chatbot123!@@db.uskvbmthxjvwrrvxnooz.supabase.co:5432/postgres

# OpenAI API Key
OPENAI_API_KEY=sb_publishable_jjEq-fE3wAUPBcVTfaWBYw_svJeO8qo
